@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

html {
  font-size: 100%; /* 16px; */
  font-family: "Nanum Gothic", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

body {
  background-color: #d6d6d6;
  /* background: url("./mo2-large.jpg"); */
  background-position-x: -60px;
  background-size: 1634px;
  margin: 0;
}

header {
  padding: 100px;
  background-color: #fff;
  padding: 42px 5% 80px 5%;
  box-shadow: rgba(0, 0, 0, 0.281) 0px 1px 4px;
}

.center {
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 800;
}

h2 {
  margin-top: 3rem;
}

h3 {
  margin-bottom: 0;
}

a.videolink {
  color: #000;
  text-decoration: none;
}

a.videolink:hover {
  text-decoration: underline;
}

p {
  margin: 15px 0;
}

button,
label {
  margin: 35px 0 30px 0;
  padding: 15px 25px;
  background-color: rgb(224, 28, 28);
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

label {
  display: block;
}

button:hover,
label:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttons {
  display: flex;
  justify-content: center;
}

select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 15px;
}

/* ranked list */
ol.overlay {
  list-style-type: none;
  padding: 0;
}



li.videoitem {
  display: flex;
}

li.videoitem:not(:last-of-type) {
  box-shadow: rgba(0, 0, 0, 0.281) 0px 1px 4px;
}

li.videoitem .frame {
  width: 210px;
  overflow: hidden;
}

li.videoitem .frame img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

li.videoitem .text {
  flex-basis: 85%;
  padding: 0.8rem 1.5rem;
}

/* @media screen and (min-width: 800px) {
  .overlay {
    margin: -46px 5% 30px 5%;
  }
} */
