.box {
  margin: 25px 0;
  padding: 1px 0;
  /* text-align: start;
  display: flex;
  */
  /* border-radius: 30px; */
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px; */
  background-color: rgb(238, 246, 255);
  /* border: 2px solid #000; */
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 20px -20px; */
}

/* .text {
  margin: 0 3%;
}

.text p {
  width: 100%;
}

.frame {
  width: 80%;
}

.frame img {
  width: 100%;
} */